:root {
    --time: "UTC";
    --font: 10px;
    --padding: 16px;
    --border: 1px solid #d9dee4;
    --width: auto;
}

.timer-cst {
    display: flex;
    align-items: center;
}
.timer-cst {
    color: #41566f;
    font-family: Brandon Grotesque, brandon-grotesque, sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: 1px solid #d9dee4;
    padding-right: 16px;
}

.timer {
    width: var(--width);
    border-right: var(--border) !important;
    font-size: var(--font) !important;
    padding-right: var(--padding) !important;
    padding-left: var(--padding);
}
.time::after {
    content: var(--time) !important;
}